@charset "UTF-8";
@media only screen and (max-width: 768px) {
html{
    background-color: rgba(85, 0, 85, 0.438);
}

div#fundo{
    background-image: linear-gradient(to bottom, rgba(189, 5, 206, 0.767), rgba(102, 41, 84, 0.747));
    width: 350px;
    height: 500px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    margin: 0px;
    padding: 0px;
    background-color: black;
    box-shadow: 3px 3px 0px rgba(54, 1, 54, 0.521);

    
}
h1{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 2px rgba(54, 1, 54, 0.699);
    
}
.campo{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    border-radius: 15px;
    text-shadow: 2px 2px 2px rgba(54, 1, 54, 0.699);

   
    
}
div.campo > i{
   margin: 0;
   font-size: 30px;
   display: block;
    
    
}
div.campo > input{
    border-radius: 10px;
    font-size: 20px;
    


    
    
}
}
div.campo > input[type=submit]{
    border-radius: 5px;
    font-size: 25px;
    width: 250px;
    cursor: pointer;
    
}
div.campo > input[type=submit]:hover{
    background-color: rgba(187, 65, 243, 0.616);
}